<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Detail Page</title>
</head>
<body>
    <h2>Profile Detail for {{ name }}</h2>
  <ul>
    <li>Name: {{ name }}</li>
    <li>LinkedIn: {{ linkedin }}</li>
    <li>GitHub: {{ github }}</li>
    <li>Bio: {{ bio }}</li>
  </ul>

  <h2>Projects</h2>
  <ul>
    {% for project in projects %}
      <li>
        <h3>{{ project.name }}</h3>
        <h3>Key Skill:</h3> {{ project.key_skill }}
        <p>{{ project.description }}</p>
        <h4>Keyword:</h4> {{ project.keyword }}
        <h3>GitHub:</h3>
        <a href="{{ project.github_url }}">{{ project.github_url }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Certificates</h2>
  <ul>
    {% for certificate in certificates %}
      <li>
        <h3>{{ certificate.name }}</h3>
        <h3>Institution:</h3> {{ certificate.certifying_institution.name }}
      </li>
    {% endfor %}

</body>
</html>